
.simple {
  height: 100px;
}
.simple-vertical {
  height: 200px;
}

section {
  border: 1px solid black;
  padding: 2em;
  margin: 2em;
}

.gutter {
  background: gray;
}
.gutter-horizontal {
  cursor: col-resize;
}
.gutter-vertical {
  cursor: row-resize;
}
.gutter:hover {
  background: #8cF;
}

.gutter-dragging {
  background: cyan;
}

.pane {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: lemonchiffon;
}
.split {
  height: 100%;
}

.r { background: red; }
.y { background: yellow; }
.o { background: orange; }

.pane .buttons {
  position: absolute;
  top: -100%;
  left: 0;
  display: flex;
  flex-direction: column;
}
.pane button {
  border: none;
  outline: none;
  padding: 0;
  user-select: none;
}
.pane button:hover {
  background: red;
  cursor: pointer;
}